:root {
  --main-color: #b3ffb3;
  --light-gray: #e5e5e5;
  --dark-gray: #353535;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: auto;
}

body {
  font-family: 'Raleway', sans-serif;
  color: var(--dark-gray);
  font-size: .85vw;
  height: 100%;
  width: auto;
}

.header {
  align-items: center;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  padding: 50px 0 50px 0;
}

h2 {
  font-size: 1.25vw;
}

h3 {
  color: var(--light-gray);
}

.logo {
  background-color: var(--white);
  border-radius: 0 50px 50px 0;
  padding: 20px;
}

.geolocate-button {
  background-color: var(--white);
  border: none;
  border-radius: 50px;
  color: var(--dark-gray);
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 16pt;
  padding: 20px;
  margin-left: auto;
  margin-right: 10px;
}

.geolocate-button:hover {
  background-color: var(--dark-gray);
  border: none;
  border-radius: 50px;
  color: var(--white);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding: 20px;
}

.product-search-container {
  align-items: center;
  background-color: var(--white);
  border-radius: 50px;
  display: inherit;
  font-weight: bold;
  padding: 15px 20px 15px 20px;
  width: 65%;
}

.zipcode-container-wrapper {
  align-items: center;
  background-color: var(--white);
  border-radius: 50px 0 0 50px;
  display: inherit;
  font-weight: bold;
  padding: 15px 0 15px 20px;
}

.zipcode-container {
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 50px 0 0 50px;
  color: var(--dark-gray);
  display: inherit;
  font-weight: bold;
  padding: 15px 40px;
}

.zipcode-container:hover {
  background-color: var(--dark-gray);
  color: var(--white);
  cursor: pointer;
}

input.product-entry {
  border: none;
  border-radius: 30px;
  background-color: var(--light-gray);
  color: var(--dark-gray);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 16pt;
  margin: 0 5px 0 0;
  padding: 5px 10px 5px 10px;
  width: 100%;
}

input.product-entry:focus {
  outline: 0;
}

/* Popup Div Styling */

#background-blur-div {
  background-color: var(--dark-gray);
  display: block;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}

#popup-form-center-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

#popup-form-container {
  align-content: space-around;
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 30px;
  display: flex;
  flex-flow: column wrap;
  height: 40%;
  width: 15%;
  justify-content: center;
  padding: 30px;
  position: absolute;
}

.centered-element-display {
  display: flex !important;
  position: absolute !important;
}

.blurred-element-display {
  display: block !important;
}

.element-hide {
  display: none !important;
}

.popup-geolocate-button {
  background-color: var(--dark-gray);
  border: none;
  border-radius: 50px;
  color: var(--white);
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: .85vw;
  margin: 10px 0 10px 0;
  padding: 20px;
}

.popup-geolocate-button:hover {
  background-color: var(--main-color);
  border: none;
  border-radius: 50px;
  color: var(--dark-gray);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding: 20px;
}

.popup-zipcode-container {
  align-items: center;
  background-color: var(--dark-gray);
  border-radius: 50px;
  display: inherit;
  font-size: .85vw;
  font-weight: bold;
  padding: 15px 20px 15px 20px;
}

.popup-search-button{
  background-color: var(--dark-gray);
  border: none;
  border-radius: 100px;
  color: var(--white);
  font-size: 1vw;
  cursor: pointer;
  padding: 0px 5px 0px 5px;
}

.popup-search-button:hover{
  background-color: var(--dark-gray);
  border: none;
  color: var(--main-color);
}

input.popup-zipcode-entry {
  border: none;
  border-radius: 30px;
  background-color: var(--white);
  color: var(--dark-gray);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: .85vw;
  margin: 0 5px 0 0px;
  padding: 5px 10px 5px 10px;
  width: 100%;
}

input.popup-zipcode-entry:focus {
  outline: 0;
}

/* Information Div Styling */

#information-div-center-wrapper {
  align-items: center;
  display: none;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

#information-div {
  align-content: space-around;
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 30px;
  display: flex;
  flex-flow: column wrap;
  height: 30%;
  width: 15%;
  justify-content: center;
  padding: 30px;
  position: absolute;
}

/* Search Button Icon Styling */

.search-button{
  background-color: var(--white);
  border: none;
  border-radius: 100px;
  color: var(--dark-gray);
  cursor: pointer;
  font-size: 16pt;
  padding: 0px 5px 0px 5px;
}

.search-button:hover{
  background-color: var(--white);
  border: none;
  color: var(--main-color);
}

/*
Main Content Container Styling
*/
.main-container {
  display: grid;
  column-gap: 2%;
  grid-template-columns: [map] .5fr [results] .5fr;
  grid-template-rows: 75vh;
  justify-content: space-around;
  margin: 2%;
}

/*
  Map Content Container Styling
*/
#map {
  background-color: var(--light-gray);
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  z-index: -1;
}

.map-transparent {
  z-index: -1 !important;
}

.map-to-front {
  z-index: 0 !important;
}

/*
  Loader Content Container Styling
*/
#loader-circle-container {
  background-color: var(--dark-gray);
  display: none;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}

#loader-circle-center-wrapper {
  align-items: center;
  display: none;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

#loader-circle {
  animation: spin 2s linear infinite;
  border: 16px solid white; 
  border-radius: 50%;
  border-top: 16px solid var(--main-color); 
  height: 200px;
  opacity: 1;
  position: absolute;
  width: 200px;
}

/*
  Defines spin of loader circle
*/
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Mini Loader Circle */
#mini-loader-circle {
  animation: spin 2s linear infinite;
  border: 5px solid var(--dark-gray); 
  border-radius: 50%;
  border-top: 5px solid var(--main-color); 
  height: 20px;
  margin: 0 0 10px 0;
  opacity: 1;
  width: 20px;
}

/*
  Results Content Container Styling
*/
.results-container {
  background-color: var(--light-gray);
  border-radius: 30px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: [content] 90% [buttons] 10%;
  margin: 0 10%;
  overflow: hidden;
  overflow-y: auto;
  padding: 15px 15px 15px 15px;
  row-gap: 15px;
}

.results-content {
  background-color: var(--light-gray);
  border-radius: 30px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: [top] 33% [middle] 33% [bottom] 33%;
  padding: 15px 15px 15px 15px;
  row-gap: 15px;
}

.results-card {
  background-color: white;
  border-radius: 30px;
  column-gap: 15px;
  display: grid;
  grid-template-columns: [left] .5fr [right] .5fr;
  grid-template-rows: auto;
  padding: 15px;
  row-gap: 15px;
}

.results-image {
  background-color: var(--dark-gray);
  border-radius: 30px;
  color: var(--white);
  display: flex;
  overflow: hidden;
  text-align: center;
}

.results-image img {
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.results-card-right {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  row-gap: 15px;
}

.results-rating {
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 30px;
  display: inherit;
  font-weight: bold;
  text-align: center;
}

.results-website-button {
  align-items: center;
  background-color: var(--main-color);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: large;
  font-weight: bold;
}

.results-website-button:hover {
  background-color: var(--dark-gray);
  border: none;
  border-radius: 30px;
  color: var(--white);
}

.unavailable-website {
  align-items: center;
  background-color: var(--dark-gray);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: large;
  font-weight: bold;
  pointer-events: none;
}

/*
  Results List Pagination Buttons Container Styling
*/
.pagination-container {
  display: grid;
  column-gap: 10px;
  grid-template-columns: [back] .5fr [forward] .5fr;
  grid-template-rows: auto;
  padding: 10px 15px 15px 15px;
}

.pagination-buttons {
  background-color: var(--dark-gray);
  border: none;
  border-radius: 30px;
  color: var(--white);
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: large;
  font-weight: bold;
}

.pagination-buttons:hover {
  background-color: var(--main-color);
  border: none;
  border-radius: 30px;
  color: var(--dark-gray);
  font-family: 'Raleway', sans-serif;
  font-size: large;
  font-weight: bold;
}

@media screen 
  and (max-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    h1 {
      font-size: 16pt;
    }

    .geolocate-button {
      font-size: 12pt;
    }
    
    .zipcode-container {
      font-size: 12pt;
    }

    input[type=text] {
      font-size: 12pt;
    }

    .search-button {
      font-size: 12pt;
    }
    
    .main-container {
      display: grid;
      column-gap: 2%;
      grid-template-columns: [map] 1fr;
      grid-template-rows: 100vh;
      justify-content: space-around;
      margin: 2%;
    }

    #map {
      display: none;
    }

    .results-container {
      margin: 0;
    }    
    
    .results-card {
      column-gap: 10px;
      row-gap: 10px;
    }
}

@media screen 
  and (min-width: 768px) 
  and (max-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    h1 {
      font-size: 18pt;
    }

    .geolocate-button {
      font-size: 12pt;
    }
    
    .zipcode-container {
      font-size: 12pt;
    }

    input[type=text] {
      font-size: 12pt;
    }

    .search-button {
      font-size: 12pt;
    }
    
    .main-container {
      grid-template-rows: 80vh;
    }

    .results-container {
      margin: 0;
    }    
    
    .results-card {
      column-gap: 10px;
      row-gap: 10px;
    }
}

@media screen 
  and (min-width: 1200px) 
  and (max-width: 1500px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    h1 {
      font-size: 18pt;
    }

    .geolocate-button {
      font-size: 12pt;
    }
    
    .zipcode-container {
      font-size: 12pt;
    }

    input[type=text] {
      font-size: 12pt;
    }

    .search-button {
      font-size: 12pt;
    }
    
    .main-container {
      grid-template-rows: 80vh;
    }
    
    .results-card {
      column-gap: 10px;
      row-gap: 10px;
    }
}

@media screen 
  and (min-width: 1500px) 
  and (max-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    h1 {
      font-size: 22pt;
    }

    .geolocate-button {
      font-size: 12pt;
    }

    .zipcode-container {
      font-size: 12pt;
    }

    input[type=text] {
      font-size: 12pt;
    }

    .search-button {
      font-size: 12pt;
    }

    .results-card {
      column-gap: 10px;
      row-gap: 10px;
    }

    #popup-form-container {
      height: 40%;
      width: 15%;
    }

}

@media screen 
  and (min-width: 1600px)  
  and (-webkit-min-device-pixel-ratio: 1) { 

    h1 {
      font-size: 30pt;
    }

    .geolocate-button {
      font-size: 16pt;
    }

    .zipcode-container {
      font-size: 16pt;
    }

    input[type=text] {
      font-size: 16pt;
    }

    .search-button {
      font-size: 16pt;
    }

    .results-card {
      column-gap: 15px;
      row-gap: 15px;
    }

    #popup-form-container {
      height: 40%;
      width: 15%;
    }
}

@media screen 
  and (max-height: 900px) {

    #popup-form-container {
      height: 40%;
      width: 15%;
    }

    .results-website-button {
      font-size: medium;
    }
  }

@media screen 
and (max-height: 800px) {

  #popup-form-container {
    height: 50%;
    width: 15%;
  }

  .results-website-button {
    font-size: medium;
  }
}