:root {
  --main-color: #b3ffb3;
  --light-gray: #e5e5e5;
  --dark-gray: #353535;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  color: var(--dark-gray);
}

header {
  align-items: center;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  padding: 50px 5%;
}

.logo {
  background-color: var(--white);
  border-radius: 50px;
  padding: 20px;
}

.geolocate-button {
  background-color: var(--white);
  border: none;
  border-radius: 50px;
  color: var(--dark-gray);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 16pt;
  padding: 20px;
  margin-left: auto;
  margin-right: 10px;
}

.geolocate-button:hover {
  background-color: var(--dark-gray);
  border: none;
  border-radius: 50px;
  color: var(--white);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding: 20px;
}

.zipcode-container {
  align-items: center;
  background-color: var(--white);
  border-radius: 50px;
  display: inherit;
  font-weight: bold;
  padding: 15px 20px 15px 20px;
}

input[type=text]{
  border: none;
  border-radius: 30px;
  background-color: var(--light-gray);
  color: var(--dark-gray);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 16pt;
  margin: 0 5px 0 10px;
  padding: 5px 10px 5px 10px;
  
}

input[type=text]:focus {
  outline: 0;
}

.zipCode-submit-btn{
  background-color: var(--white);
  border: none;
  border-radius: 100px;
  color: var(--dark-gray);
  font-size: 16pt;
  padding: 0px 5px 0px 5px;
}

.zipCode-submit-btn:hover{
  background-color: var(--white);
  border: none;
  color: var(--main-color);
}

/*
Main Content Container Styling
*/
.main-container {
  display: grid;
  column-gap: 2%;
  grid-template-columns: [map] .5fr [results] .5fr;
  grid-template-rows: 75vh;
  justify-content: space-around;
  margin: 2%;
}

/*
  Map Content Container Styling
*/
#map {
  background-color: var(--light-gray);
  border-radius: 30px;
  opacity: 1;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

/*
  Loader Content Container Styling
*/
#loader-container {
  background-color: var(--dark-gray);
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}

#loader {
  border: 16px solid white; 
  border-top: 16px solid var(--main-color); 
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 2s linear infinite;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*
  Results Content Container Styling
*/
.results-container {
  background-color: var(--light-gray);
  border-radius: 30px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: [content] .9fr [buttons] .1fr;
  margin: 0 10%;
  overflow: hidden;
  overflow-y: auto;
  padding: 15px 15px 15px 15px;
  row-gap: 15px;
}

.results-content {
  background-color: var(--light-gray);
  border-radius: 30px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: [top] 33% [middle] 33% [bottom] 33%;
  padding: 15px 15px 15px 15px;
  row-gap: 15px;
}

.results-card {
  background-color: white;
  border-radius: 30px;
  column-gap: 15px;
  display: grid;
  grid-template-columns: [left] .5fr [right] .5fr;
  grid-template-rows: [top] .85fr [bottom] .15fr;
  padding: 15px;
  row-gap: 15px;
}

.results-image {
  align-items: center;
  background-color: var(--dark-gray);
  border-radius: 30px;
  color: var(--white);
  display: flex;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}

.results-image img {
  flex-shrink: 0;
  min-width: 100%;
  max-width: 100%;
}

.results-rating {
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 30px;
  display: inherit;
  font-weight: bold;
  text-align: center;
}

.results-website-button {
  align-items: center;
  background-color: var(--main-color);
  border: none;
  border-radius: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: large;
  font-weight: bold;
}

.results-website-button:hover {
  background-color: var(--dark-gray);
  border: none;
  border-radius: 30px;
  color: var(--white);
}

/*
  Results List Pagination Buttons Container Styling
*/
.pagination-container {
  display: grid;
  column-gap: 10px;
  grid-template-columns: [back] .5fr [forward] .5fr;
  grid-template-rows: auto;
  padding: 0 15px 30px 15px;
}

.pagination-buttons {
  background-color: var(--dark-gray);
  border: none;
  border-radius: 30px;
  color: var(--white);
  font-family: 'Raleway', sans-serif;
  font-size: large;
  font-weight: bold;
}

.pagination-buttons:hover {
  background-color: var(--main-color);
  border: none;
  border-radius: 30px;
  color: var(--dark-gray);
  font-family: 'Raleway', sans-serif;
  font-size: large;
  font-weight: bold;
}

@media screen 
  and (max-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    h1 {
      font-size: 16pt;
    }
    
    h2 {
      font-size: 14pt;
    }

    .geolocate-button {
      font-size: 12pt;
    }
    
    .zipcode-container {
      font-size: 12pt;
    }

    input[type=text] {
      font-size: 12pt;
    }

    .zipCode-submit-btn {
      font-size: 12pt;
    }
    
    .main-container {
      display: grid;
      column-gap: 2%;
      grid-template-columns: [map] 1fr;
      grid-template-rows: 100vh;
      justify-content: space-around;
      margin: 2%;
    }

    .map-container {
      display: none;
    }

    .results-container {
      margin: 0;
    }    
    
    .results-card {
      column-gap: 10px;
      row-gap: 10px;
    }
}

@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    h1 {
      font-size: 18pt;
    }
    
    h2 {
      font-size: 16pt;
    }

    .geolocate-button {
      font-size: 12pt;
    }
    
    .zipcode-container {
      font-size: 12pt;
    }

    input[type=text] {
      font-size: 12pt;
    }

    .zipCode-submit-btn {
      font-size: 12pt;
    }
    
    .main-container {
      grid-template-rows: 80vh;
    }

    .results-container {
      margin: 0;
    }    
    
    .results-card {
      column-gap: 10px;
      row-gap: 10px;
    }
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1500px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    h1 {
      font-size: 18pt;
    }
    
    h2 {
      font-size: 16pt;
    }

    .geolocate-button {
      font-size: 12pt;
    }
    
    .zipcode-container {
      font-size: 12pt;
    }

    input[type=text] {
      font-size: 12pt;
    }

    .zipCode-submit-btn {
      font-size: 12pt;
    }
    
    .main-container {
      grid-template-rows: 80vh;
    }
    
    .results-card {
      column-gap: 10px;
      row-gap: 10px;
    }
}

@media screen 
  and (min-device-width: 1500px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    h1 {
      font-size: 22pt;
    }

    h2 {
      font-size: 20pt;
    }

    .geolocate-button {
      font-size: 12pt;
    }

    .zipcode-container {
      font-size: 12pt;
    }

    input[type=text] {
      font-size: 12pt;
    }

    .zipCode-submit-btn {
      font-size: 12pt;
    }

    .results-card {
      column-gap: 10px;
      row-gap: 10px;
    }

}

@media screen 
  and (min-device-width: 1600px)  
  and (-webkit-min-device-pixel-ratio: 1) { 

    h1 {
      font-size: 30pt;
    }
    
    h2 {
      font-size: 24pt;
    }

    .geolocate-button {
      font-size: 16pt;
    }

    .zipcode-container {
      font-size: 16pt;
    }

    input[type=text] {
      font-size: 16pt;
    }

    .zipCode-submit-btn {
      font-size: 16pt;
    }

    .results-card {
      column-gap: 15px;
      row-gap: 15px;
    }
}